{MENSAJE_BIENVENIDA}
		<table border = 1 width="100%">
			<tr>
				<th>
					idEvento
				</th> 
				<th>
					nombre
				</th> 
				<th>
					fechaInicio
				</th> 
				<th>
					fechaFinal
				</th> 
				<th>
					ubicacion
				</th> 
				<th>
					descripcion
				</th> 
				
			</tr>
				
<!-- BEGIN USUARIO -->
			<tr>
				<td>
					{ID_EVENTO}
				</td> 
				<td>
					{NOMBRE}
				</td>
				<td>
					{FECHA_INICIO}
				</td>
				<td>
					{FECHA_FINAL}
				</td>
				<td>
					{UBICACION}
				</td>
				<td>
					{DESCRIPCION}
				</td>
				
			</tr>
<!-- END USUARIO -->

		</table>